@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coding Challenge</h1>
    <p class="lead">By Keshab Pandey</p>
    <p>
    <a href="@Url.Action("Index", "People")" class="btn btn-primary btn-lg">View all peoople with pets &raquo;</a></p>
</div>

